  body{
    margin: 0;
    padding: 0;
    // background-image: linear-gradient(120deg, #e8f1ff 0%, #e8f1ff 100%);
    background-color: var(--color-bg-1);
    color:var(--color-text-1);
    #main{
      width: 94vw;
      left: 0; right: 0;
      margin: auto;
    }
  }



// 右侧滑块 👇🏻

/* Webkit 浏览器 */
::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-text-4);
}
/* Firefox */
::-moz-scrollbar {
  width: 5px;
  background-color: var(--color-text-4);
}
/* 滚动槽 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--color-text-4);
}
/* Firefox */
::-moz-scrollbar-thumb {
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--color-text-4);
}