#alyosha{
    color: transparent;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30vh;
    // background-image: url('https://cdn.pixabay.com/photo/2018/01/11/15/52/water-3076333_960_720.jpg');
    background-image: linear-gradient(120deg, rgb(40,78,126) 0%, rgb(170,210,161) 100%);;
    background-size: cover;
    -webkit-background-clip: text;
    user-select: none;

    
}

#introduction{
    margin-top: 6vh;
    font-size: 1.2rem;
    text-align: center;
}