#alyosha{
    color: transparent;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20vh;
    background-image: url('https://giffiles.alphacoders.com/350/35060.gif');
    background-size: cover;
    -webkit-background-clip: text;
    user-select: none;
}
