
#topnavigator{
  height: 70px;
  width: 100vw;
  background-color: var(--color-bg-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
  font-size: 32px;
  font-weight: bold;
  z-index: 100;

  .menu-icon{
    margin-left: 2vw;
    color:var(--color-text-1);
    user-select: none;

  }
  .menu-title{
    color:var(--color-text-2);
    user-select: none;
    
  }
  .menu-theme{
    margin-right: 2vw;
    user-select: none;

  }
  @media screen and (max-width: 780px) {  //小屏幕所有container都改为100width
    #memu-title{
      visibility: hidden;
    }
  }
}

