.ada-container{
  border-radius: 24px;
  background-color: var(--color-bg-2);
  box-shadow: 0 0 2px var(--color-text-4);
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:var(--color-text-1);
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  .innerBox{
   
  }
}

@media screen and (max-width: 780px) {  //小屏幕所有container都改为100width
  .ada-container{
    width: 100% !important;
  }
}